// Slick Carousel font path
$slick-font-path: "~slick-carousel/slick/fonts/";

// Slick Carousel ajax-loader.gif path
$slick-loader-path: "~slick-carousel/slick/";

/** Colors */
$primary:               #525ddc;

/** Box Model  */
$spacer: 2rem;
