<template>
  <div class="carousel">
    <slot></slot>
  </div>
</template>

<script>
  import Vue from 'vue'
  import Flickity from 'flickity';

  export default {

    props: {
      wraparound: { default: true },
      autoplay: { default: true },
    },
    
    methods: {
      
    },

    computed: {
      
    },

    mounted() {
      new Flickity(this.$el, {
        wrapAround: this.wraparound,
        autoPlay: this.autoPlay,
        cellAlign: 'left',
        contain: true,
        groupCells: '60%',
      });
    }
  }
</script>