<template>
  <div>
    {{ this.data }}
  </div>
</template>

<script>
import Vue from 'vue'

export default {

  props: [],

  data () {
    return {
      data: "Show data from the example component",
    }
  },

  computed: {

  },

  methods: {

    emit() {
      this.$emit("emit-message");
    },

    getAjaxData() {
      
      // All ajax functions placed in a Custom Wordpress Plugin 'themename-theme-extensions'
      axios.get('/wp-json/api/endpoint-example', {
        params: {
          category: this.data,
        }
      })
      .then(response => this.data = response.data)
      .catch(function (error) {
        console.log(error);
      });

    }
    
  }

}

</script>