<template>
  <div class="modal" v-bind:class="{ 'is-active': isActive }">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">{{ title }}</p>
        <button class="delete" aria-label="close" @click="close"></button>
      </header>
      <section class="modal-card-body">
        {{ body }}
      </section>
      <footer class="modal-card-foot">
        <a class="button" @click="close">OK</a>
      </footer>
    </div>
  </div>
</template>

<!-- 
  
  Instructions.  On the root Vue instance, place the following methods.

  new Vue({
    el: "#app",
    name: "app",
    data: {
      isModalActive: false,
      modalMessage: [],
    },

    components: {
      modal,
    },

    methods: {
      onModalActivate(payload) {
        this.isModalActive = true
        this.modalMessage.push({"title": payload.title, "body": payload.body})
      },

      onModalClose() {
        this.isModalActive = false
        this.modalMessage = [];
      },
    },
  })

  Place the modal in a template like this

  <modal :is-active="isModalActive"
    @modal-close="onModalClose"
    v-bind:modal-message="modalMessage"></modal>


  To Create a modal emit an event
  
  this.$emit('modal-activate', {title: "Order Update", body: "Your order has been updated.  We'll be in touch soon."});

 -->

<script>
  import Vue from 'vue'

  export default {

    props: ["isActive", "modalMessage"],
    
    methods: {
      close(){
        this.$emit('modal-close');
      }
    },

    computed: {
      title() {
        return (this.modalMessage.length > 0) ? this.modalMessage[0].title : ""
      },

      body() {
        return (this.modalMessage.length > 0) ? this.modalMessage[0].body : ""
      }
    }
  }
</script>